.searchBar {
    border-radius: 8px;
    border: 0px;
    box-shadow: 4px 3px 4px 3px rgba(0, 0, 0, 0.451);
    padding: 3px;
    margin-right: 10px;
}

.reqButton {
    font-size: 11px;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.451);
}

.friendsList {
    list-style: none;
    display: inline-flex;
    gap: 30px;
}

.friendInfo {
    font-size: 13px;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.451);
    border: 2px solid rgba(0, 0, 0, 0.451);
}