.signUpForm {
    background-color: rgba(165, 163, 143, 0.4);
    padding: 5vw;
    border-radius: 8px;
    text-align: center;
}

.formArea {
    padding: 7px;
}

.nameLabel,
.usernameLabel,
.passwordLabel,
.passwordRLabel,
.emailLabel {
    font-size: 15px;
    font-weight: bold;
}

.emailLabel {
    margin-right: 105px;
}

.nameLabel {
    margin-right: 30px;
}

.passwordRLabel {
    margin-right: 13px;
}

.usernameLabel {
    margin-right: 72px;
}

.passwordLabel {
    margin-right: 75px;
}

.nameInput,
.usernameInput,
.passwordInput,
.emailInput {
    border: 0px white;
    border-radius: 8px;
    padding: 5px;
    font-size: 13px;
}

.nameInput:hover,
.usernameInput:hover,
.passwordInput:hover,
.emailInput:hover {
    border: 0px white;
    border-radius: 8px;
}

.formSubmit {
    width: 25vw;
    height: 7vh;

    max-width: 100px;
    max-height: 30px;
    
    text-align: center;
    font-size: 15px;
    font-weight: bolder;

    margin-top: 50px;
}

.forgotPw {
    text-align: center;
    
    font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.451);
  margin: 8px;
}